*{
    margin-top: 0;
}

.container{
    height: 60px;
    
}

.wrapper{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding: 0;
}

.left{
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
}

.center{
    flex: 1;
    display: flex;
    align-items: center;
}

.right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.en{
    font-size: 14px;
    cursor: pointer;
}

.search{
    margin-left: 10px;
    border: 0.5px solid lightgray;
}

.search input{
    border: none;
}

.shop{
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.menuItem{
    font-size: 14px;
    cursor: pointer;
    margin-left: 25px;
}