.container img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.container{
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container:hover{
    .info {
        opacity: 1;
    } 
    transition: 1s ease;
}

.info{
 display: flex;
 position: absolute;
 top: 50%;
 left:40%;
 opacity:0;
} 

.info ion-icon{
    margin-left: 5px;
    background-color: white;
    border-radius: 50%;
    width:20px;
    height:20px;
}

.info ion-icon:hover{
    transform: scale(1.5);
    transition: 0.5s ease;
}


