.topbar{
 height: 50px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px;
 position: sticky;
 top: 0;
 z-index: 999;
}

.maincomtainer{
  display: flex;
  padding: 10px;
}

.list{
  list-style: none;
}

.sidebar{
  flex: 1;
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
  background-color: rgb(245, 245, 249);
}

.list li{
  display: flex;
  align-items: center;
  text-align: left;
  padding: 5px;
  cursor: pointer;
}

.list.active li, .list li:hover{
  background-color: rgb(233, 233, 243)
}

.listcontainer{
  margin-bottom: 10px;
}

.listcontainer h3{
  color: rgb(181, 176, 176);
  font-size: 13px;
}

.center{
  flex: 4;
}

.logo{
  font-size: 25px;
  color: darkblue;
}

.icons{
  position: relative;
  margin-right: 10px;
}

.badge{
  position: absolute;
  color: white;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5px;
  right: 0px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 10px;
}

.iconscontainer{
  display: flex;
  align-items: center;
}

.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.indicators{
  margin-right: 5px;
  font-size: 20px !important;
}

.Infocontainer{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.reports{
  flex: 1;
  cursor: pointer;
  border-radius:10px ;
  margin: 0px 10px;
  padding: 20px;
  box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  -webkit-box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  -moz-box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
}

.moneycontainer{
  display: flex;
  align-items: center;
}

.money{
  font-weight: 600;
  font-size: 20px;
  margin-right: 20px;
}

.negetive{
  color: red;
  font-size: 14px !important;
  margin-left: 5px;
}

.positive{
  color: green;
  font-size: 14px !important;
  margin-left: 5px;
}

.month{
  font-size: 15px;
  color: gray;
}

.chart{
  box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  -webkit-box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  -moz-box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  width: 100%;
}

.homecomponents{
  display: flex;
  padding: 20px;
}

.smwg{
  flex: 1;
  box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  -webkit-box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  -moz-box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  margin-right: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.lgwg{
  flex: 2;
  box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  -webkit-box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  -moz-box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  padding: 20px;
}

.photo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.memberprofile{
  display: flex;
  margin-bottom: 20px;
}

.members{
  font-size: 20px;
  margin-bottom: 30px;
}

.customerImage{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.vis{
  font-size: 16px !important;
  margin-right: 5px;
}

.name{
  font-size: 14px;
  margin-left: 10px;
  font-weight: 600;
}

.job{
  font-size: 14px;
  font-weight: 300;
}

.visibility{
  display: flex;
  font-size: 12px;
  padding: 7px 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 5px;
  flex: 1;
  align-items: center;
  cursor: pointer;
}

.spans{
  display: flex;
  flex-direction: column;
  flex: 3;
  text-align: center;
}

.wgbtn{
  padding: 5px 7px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
}

.wgbtn.approved{
  background-color: rgb(200, 214, 200);
}

.wgbtn.declined{
background-color: rgb(239, 150, 150);
}

.wgbtn.pending{
 background-color: rgb(237, 237, 170);
}

.table{
  width: 100%;
  border-spacing: 20px;
}

.tableheader{
text-align: left;
}

.usercontainer{
  display: flex;
  align-items: center;
}

.user{
  margin-left: 10px;
  font-weight: 600;
  font-size: 14px;
}

.column{
  font-size: 14px;
}

.header{
  margin: 0px ;
}

.displaypicture{
  display: flex;
  align-items: center;
  justify-content: center;
}

.displayimage{
  width: 32px;
  height: 32px;
  object-fit: cover;
  margin-right: 10px;
}

.userlistEdit{
  padding:5px 10px;
  border-radius: 10px;
  color: white;
  border: none;
  margin-right: 20px;
  background-color: rgb(28, 238, 28);
  cursor:pointer;
}

.userlistDelete{
  color: red;
  cursor: pointer;
}

.userdetail{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

.userdetailcontainer{
  padding: 20px;
}

.create{
  padding:5px 15px;
  border-radius: 5px;
  background-color: teal;
  cursor: pointer;
  border: none;
  color: white;
}

.editcreateform{
  display: flex;
  align-items: center;
  flex: 1;
}

.createform{
  padding: 20px;
}

.profiles{
  flex: 1;
  box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  -webkit-box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  -moz-box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  padding: 20px;
  margin-right: 20px;
}

.createform h2{
  font-weight: 600;
  font-size: 20px;
}

.editusercontainer{
  display: flex;
  justify-content: space-between;
}

.usereditform{
  display: flex;
  flex-direction: column;
}


.createform{
  flex: 2;
  box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  -webkit-box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  -moz-box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
}

.userprofilepicture{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.username{
  font-weight: 600;
}

.usertitle{
  font-weight: 300;
}

.nametitlecontainer{
  display: flex;
  flex-direction: column;
}

.photodetails{
  display: flex;
}
.account{
  font-size: 14px;
  color: rgb(125, 116, 116);
}

.accountdetails{
  display: flex;
  align-items: center;
  font-weight: 300;
  margin-top: 20px;
}

.publish{
  cursor: pointer;
}

.person{
  font-size: 14px !important;
  margin-right: 10px;
}

.usereditform label{
  border-bottom: 10px;
}

.usereditform input{
  border: none;
  border-bottom: 1px solid  black;
  margin-bottom: 10px;
}

.uploadphoto{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 10px;
}

.photocontainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.edituserphoto{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.update{
  color: white;
  cursor: pointer;
  background-color: blue;
  border-radius: 10px;
  border: none;
}

.newuser{
  flex: 4;
  padding: 20px;
}

.h1user{
 font-weight: 800;
 font-size: 30px;
}

.newuserform{
  display: flex;
  flex-wrap: wrap;
}

.useritem{
  width: 450px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;
}

.newuserform label{
color: rgb(111, 104, 104);
font-size: 15px;
margin-bottom: 10px;
}

.newuserform input{
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid rgb(108, 105, 105);
}


.radio input{
  margin-right: 10px;
}

.userbtn{
  color: white;
  background-color: darkblue;
  cursor: pointer;
  border-radius: 10px;
  width: 50%;
  margin-top: 20px;
}

.select{
  padding: 7px 10px;
}

.link{
  text-decoration: none;
  color: inherit;
}

.productchart{
  display: flex;
}

.chart{
  flex: 1;
  margin-right: 20px;
  box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  -webkit-box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  -moz-box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
}

.chartinfo{
  flex: 1;
  padding: 20px;
  box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  -webkit-box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  -moz-box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
}

.chartinfotitlte{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.chartinfophoto{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.chartspan{
  display: flex;
  align-items: center;justify-content: space-between;
  width: 30%;
}

.span2{
  font-weight: 300;

}

.upload{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.uploadform{
 display: flex;
 flex-direction: column;
}

.uploadform label{
  color: gray;
  margin-bottom: 10px;
}

.uploadform input{
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.uploadselect{
  padding: 5px 10px;
  margin-bottom: 10px;
}

.newproduct{
  padding: 20px;
}

.newproductform{
  display: flex;
  flex-direction: column;
  width: 20%;
}

.newproductform label{
  color: gray;
  margin-bottom: 10px;
}

.newproductforminput{
  padding: 5px 10px;
  margin-bottom: 10px;
}

.register{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;align-items: center;
  background: linear-gradient(rgba(255,255,255, 0.5), rgba(255,255,255, 0.5)), 
  url(https://images.unsplash.com/photo-1483985988355-763728e1935b?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZmFzaGlvbnxlbnwwfHwwfHx8MA%3D%3D);
  background-position: center;
  background-size: cover;
}

.registercontainer2{
  width: 25%;
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}

.form1{
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.holder2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.registercontainer2 h1{
  margin-top: 20px;
  font-size: 24px;

}

.form1 input{
  width:80%;
  flex: 1;
  padding: 5px;
  margin: 10px 0px;
}

.holder2 p{
  font-size: 15px;
}

.holder2 button{
  padding: 10px;
  border: none;
  background-color: teal;
  color: white;
  cursor: pointer;
  width: 40%;
  &:disabled{
      color: green;
      cursor: not-allowed;
  }
}

