.topbar{
 height: 50px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px;
 position: sticky;
 top: 0;
 z-index: 999;
}

.maincomtainer{
  display: flex;
  padding: 10px;
}

.list{
  list-style: none;
}

.sidebar{
  flex: 1;
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
  background-color: rgb(245, 245, 249);
}

.list li{
  display: flex;
  align-items: center;
  text-align: left;
  padding: 5px;
  cursor: pointer;
}

.list.active li, .list li:hover{
  background-color: rgb(233, 233, 243)
}

.listcontainer{
  margin-bottom: 10px;
}

.listcontainer h3{
  color: rgb(181, 176, 176);
  font-size: 13px;
}

.center{
  flex: 4;
}

.logo{
  font-size: 25px;
  color: darkblue;
}

.icons{
  position: relative;
  margin-right: 10px;
}

.badge{
  position: absolute;
  color: white;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5px;
  right: 0px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 10px;
}

.iconscontainer{
  display: flex;
  align-items: center;
}

.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.indicators{
  margin-right: 5px;
  font-size: 20px !important;
}

.Infocontainer{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.reports{
  flex: 1;
  cursor: pointer;
  border-radius:10px ;
  margin: 0px 10px;
  padding: 20px;
  box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  -webkit-box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  -moz-box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
}

.moneycontainer{
  display: flex;
  align-items: center;
}

.money{
  font-weight: 600;
  font-size: 20px;
  margin-right: 20px;
}

.negetive{
  color: red;
  font-size: 14px !important;
  margin-left: 5px;
}

.positive{
  color: green;
  font-size: 14px !important;
  margin-left: 5px;
}

.month{
  font-size: 15px;
  color: gray;
}

.chart{
  box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  -webkit-box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  -moz-box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  width: 100%;
}

.homecomponents{
  display: flex;
  padding: 20px;
}

.smwg{
  flex: 1;
  box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  -webkit-box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  -moz-box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  margin-right: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.lgwg{
  flex: 2;
  box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  -webkit-box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  -moz-box-shadow: -3px 4px 15px -4px rgba(0,0,0,0.57);
  padding: 20px;
}

.photo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.memberprofile{
  display: flex;
  margin-bottom: 20px;
}

.members{
  font-size: 20px;
  margin-bottom: 30px;
}

.customerImage{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.vis{
  font-size: 16px !important;
  margin-right: 5px;
}

.name{
  font-size: 14px;
  margin-left: 10px;
  font-weight: 600;
}

.job{
  font-size: 14px;
  font-weight: 300;
}

.visibility{
  display: flex;
  font-size: 12px;
  padding: 7px 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 5px;
  flex: 1;
  align-items: center;
  cursor: pointer;
}

.spans{
  display: flex;
  flex-direction: column;
  flex: 3;
  text-align: center;
}

.wgbtn{
  padding: 5px 7px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
}

.wgbtn.approved{
  background-color: rgb(200, 214, 200);
}

.wgbtn.declined{
background-color: rgb(239, 150, 150);
}

.wgbtn.pending{
 background-color: rgb(237, 237, 170);
}

.table{
  width: 100%;
  border-spacing: 20px;
}

.tableheader{
text-align: left;
}

.usercontainer{
  display: flex;
  align-items: center;
}

.user{
  margin-left: 10px;
  font-weight: 600;
  font-size: 14px;
}

.column{
  font-size: 14px;
}

.header{
  margin: 0px ;
}